/* MAIN COLORS */
.grey{color:#1D1D1D;}
.dblue{color:#0E4241;}
.lblue{color:#3A6E64;}
.white{color:#FFFFFF;}
.orange{color:#DE6F00;}

html { height: 100% }

body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height:100%;
  width:100%;
}

a {
  color: #3A6E64;
}

#header{
  margin: 0px;
  padding: 0px;
  height:30px;
  border-bottom-style: solid; 
  border-bottom-color: #CEE5F5; 
  border-bottom-width: 2px; 
}

#headerText{
  font-family: 'Anton', sans-serif;
  color:#0E4241;
  font-size:20px;
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

#headerRight{
  float:right;
  margin-top:10px;
  margin-right:20px;
}

#loginDiv{
  float:right;
  border: solid 2px #CEE5F5;
  border-top: none; 
  background-color:white;
  margin-top:-2px;
}

#createDiv{
  float:right;
  border: solid 2px #CEE5F5;
  border-top: none; 
  background-color:white;
  margin-top:-2px;
}

#create{
  margin-right:5px;
}

#user{
  margin-right:5px;
}

#wrapper{
  height:100%;
  width:100%;
}

#mapCanvas{
  height:100%;
  width:100%;
  z-index:-1;
}

#sideBar{
  width:100%;
  height:150px;
  background-color:white;
  border-top-style: solid; 
  border-top-color: #CEE5F5; 
  border-top-width: 2px; 
  position:absolute;
  bottom:0;
	/*-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;*/
}
